# Ignore all build artifacts
/build/
*.o
*.a

# Ignore log files, but keep important.log
logs/
!logs/important.log

# Ignore configuration files
config.json

# Ignore node modules
node_modules/

# Ignore files named "temp" anywhere in the repository
**/temp

# Ignore CS3010 Assignment 2 add-ons
CS\ 3010/Assignment\ 2/Ben's\ Eliminator
CS\ 3010/Assignment\ 2/GaussianEliminationAnalyzer.py
CS\ 3010/Assignment\ 2/results*
CS\ 3010/Assignment\ 2/large_sys*
CS\ 3010/Assignment\ 2/my-results
CS\ 3010/Assignment\ 2/analysis_env
